// Add your custom CSS here.
.product-card__buy button, .minicart__empty a, .product__buy button, .minicart__btn-checkout, .cart__btn-checkout, .login__email-btn, .checkout__account button, .address-form button, .payment__method button, .product__sticky-buy a {
background-color: #007f02 !important;
border-color: #007f02 !important;
}
.prices {
  display: flex;
  .prices__value + span {
    order: -1
  }
  .prices__discount span {
    font-size: var(--font-size-lg);
    font-weight: bold;
  }
  .prices__value {
    font-size: var(--font-size-sm);
    font-weight: bold;
    &:before {
      content: 'ou'
    }
    &:after {
      content: 'no cartão de crédito'
    }
  }
}
@media(max-width: 767px) {
  #search-bar {
    display: block !important;
  }
  .top-bar__countdown {
    white-space: normal !important;
  }
  .info-bar .container {
  padding: 0;
}
.info-bar__nav .col-auto:first-child {
  padding-right: 0
}
.info-bar__nav .col-auto:last-child {
  padding-left: 0
}
  .banners-grid .container .banner {
width: 100%
}
}

.info-bar {
  margin-top: 1rem
}
#product-actions .share:not(:first-child) {
  display: none !important;
}
.share-network-whatsapp span {
  font-size: 0
}
.share-network-whatsapp span:after {
  font-size: 1rem !important;
  content: 'TIRE SUA DUVIDA NO WHATSAPP'
}
.btn.btn-sm.product__favorite {
  display: none !important
}
// organizar menu
.menu__list {
  display: flex;
  flex-direction: column
}
#c-62277dee7963422eee35d9c1 {
  order: 0
}
#c-624c54832e405e04ff237096 {
  order: 1;
  border-bottom: .5px solid
}
#c-624c54792e405e04ff237078 {
  order: 2
}
#c-61e1cc930c7c7272250a7a61 {
  order: 3
}
#c-61e1cc960c7c7272250a7a6a {
  order: 4
}
#c-61e1cc940c7c7272250a7a63 {
  order: 5
}
#c-61e1cc970c7c7272250a7a6e {
  order: 6
}
#c-61e1cc950c7c7272250a7a65 {
  display: none
}
#c-61e1ccc60c7c7272250a7b3d {
  display: none
}
